.task-card{
    height: 300px;
}

.task-container{
    margin-bottom: 25px;
}

.card-text{
    height: 70%;
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    line-clamp: 5;
    display: vertical;
    box-orient: vertical;
    overflow-x: hidden;
}


.option-box{
    display:flex;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    padding-right: 3rem;
    position: absolute;
    bottom: 1em;

}

.card-body{
    position: relative;
}
